@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7159c1;
}

.profile-link {
  display: flex;
  align-items: center;
  color: white;
  padding: 0.65rem;
}

.github .code {
  color: #7159c1;
}

.github:hover .code {
  color: white;
}
.github img {
  display: block;
  border-radius: 50%;
  width: 45px;
  border: 2px solid gray;
  margin-right: 5px;
}

.navbar-list {
  display: flex;
  margin-right: 2rem;
}

.navbar-list a {
  display: block;
  font-size: 1.7rem;
  padding: 1rem;
}

.navbar-list li:hover {
  background-color: #384049;
}
/* Welcome Section Start */

.presentation-image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 7px solid white;
  transition: all 300ms ease-in-out;
}

.presentation-image:hover {
  border-radius: 0%;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(58, 55, 55);
}

.welcome-section h1 {
  color: white;
  font-size: 80px;
  font-weight: 700;
}

.welcome-section p {
  color: #be3144;
  font-size: 32px;
  font-weight: 700;
}

/* Welcome Section End */

/* Projects Section Start */

.projects-section {
  margin: 0 auto;
  background-color: #3b2c68;
  text-align: center;
  padding: 7rem 2rem;
}

.project-tile {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 40px;
}

.project-tile::after {
  content: "";
  display: block;
  background: white;
  width: 800px;
  margin-top: 20px;
  height: 2px;
  border-radius: 5px;
}

.project {
  border-radius: 5px;
  box-shadow: 1px 2px solid black;
  background-color: #384049;
}

.code {
  color: #384049;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #7159c1;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-image {
  height: calc(100% - 4rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 1rem 0.5rem;
}

/* Projects Section End */

/* Skills Section Start*/

.skills-section {
  margin: 0 auto;
  background-color: #384049;
  text-align: center;
  padding: 7rem 2rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.skill-card {
  background: #7159c1;
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
}

.skill-img {
  display: inline-block;
  max-height: 100px;
  width: auto;
  object-fit: cover;
}

.card-tile {
  font-size: 22px;
  color: white;
  padding: 20px;
}

.content-tile {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 29px;
  margin-bottom: 40px;
}

.content-tile::after {
  content: "";
  display: block;
  background: white;
  width: 800px;
  margin-top: 20px;
  height: 2px;
  border-radius: 5px;
}

.card-tile {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

/* Skills Section End*/

/* Contacts Section Start*/

.contacts-section {
  background-color: rgb(58, 55, 55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.contacts-section::after {
  content: "";
  width: 100%;
  height: 5px;
  background: #be3144;
}

.contacts-section h2 {
  color: white;
  font-size: 54px;
  font-weight: 700;
  margin: 10px 10px;
}

.contacts-section p {
  color: white;
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  margin: 10px 10px;
}

.contact-list {
  display: flex;
  color: white;
}

.contact-list img {
  height: 40px;
  width: auto;
}

.contact-list li {
  display: flex;
  align-items: center;
  padding: 45px;
  font-size: 30px;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 250ms ease-in-out;
}

.contact-list li:hover {
  transform: translateY(10%);
}

/* Contacts Section End*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-color: rgb(58, 55, 55);
  color: white;
}
